<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <title>Mon 1er projet Symfony</title>
</head>
<header>
    <div>
        <a href="{{ path("accueil") }}"><img class="logo" src="{{ 'assets/img/photo.gif' }}" alt="banane qui danse"></a>
    </div>
    <div class="titre">
        <h1>
            {{ title }}
        </h1>
    </div>
</header>
<nav class="menu">
    <div><a href="{{ path("contact") }}"> contact</a></div>
    <div><a href="{{ path("profil") }}">profil</a></div>
    <div><a href="{{ path("page1") }}">Page 3</a></div>
</nav>
<main>
    <aside>
        <li>lien 1</li>
        <li>lien 2</li>
        <li>lien 3</li>
        <li>lien 4</li>
    </aside>
    <section>


    </section>
</main>
<body>

</body>
</html>